:root {
  --color-white: #fff;
  --color-black: #000;
  --color-main: #252f66;
  --color-accent: #6ccee7;
  --color-text: #333;
  --color-ground: #ebe8ef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where([hidden]:not([hidden=until-found])) {
  display: none !important;
}

:where(html) {
  -webkit-text-size-adjust: none;
  color-scheme: dark light;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  scrollbar-gutter: stable;
}

:where(html:has(dialog:modal[open])) {
  overflow: clip;
}

@media (prefers-reduced-motion: no-preference) {
  :where(html:focus-within) {
    scroll-behavior: smooth;
  }
}
:where(body) {
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

:where(button) {
  all: unset;
}

:where(input, button, textarea, select) {
  font: inherit;
  color: inherit;
}

:where(textarea) {
  resize: vertical;
  resize: block;
}

:where(button, label, select, summary, [role=button], [role=option]) {
  cursor: pointer;
}

:where(:disabled) {
  cursor: not-allowed;
}

:where(label:has(> input:disabled), label:has(+ input:disabled)) {
  cursor: not-allowed;
}

:where(a) {
  color: inherit;
  text-underline-offset: 0.2ex;
}

:where(ul, ol) {
  list-style: none;
}

:where(img, svg, video, canvas, audio, iframe, embed, object) {
  display: block;
}

:where(img, picture, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}

:where(h1, h2, h3) {
  line-height: calc(1em + 0.5rem);
  text-wrap: balance;
}

:where(hr) {
  border: none;
  border-block-start: 1px solid;
  color: inherit;
  block-size: 0;
  overflow: visible;
}

:where(dialog) {
  border: none;
  background: none;
  inset: unset;
  max-width: unset;
  max-height: unset;
}

:where(dialog:not([open], [popover])) {
  display: none !important;
}

:where([popover]) {
  border: none;
  background: none;
  inset: unset;
  color: inherit;
}

:where([popover]:not(:popover-open)) {
  display: none !important;
}

:where(:focus-visible) {
  outline: 3px solid CanvasText;
  box-shadow: 0 0 0 5px Canvas;
  outline-offset: 1px;
}

:where(:focus-visible, :target) {
  scroll-margin-block: 8vh;
}

:where(.visually-hidden:not(:focus-within, :active)) {
  -webkit-clip-path: inset(50%) !important;
          clip-path: inset(50%) !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden !important;
  position: absolute !important;
  white-space: nowrap !important;
  border: 0 !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

:where(body) {
  font-family: "Noto Sans JP", serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text);
  background: var(--color-ground);
}

.site {
  display: grid;
  grid-template: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;
  align-items: start;
  min-block-size: 100dvb;
  overflow: hidden;
}

.site-header {
  grid-area: header;
}

.site-main {
  grid-area: main;
}

.site-footer {
  grid-area: footer;
}

.l-section {
  position: relative;
}

.l-section__inner {
  max-inline-size: 1024px;
  padding-inline: 20px;
  margin-inline: auto;
}

.c-logo {
  color: var(--color-white);
  border-inline-start: 0.25em solid;
  padding-inline-start: 0.5em;
}

.c-heading {
  border-block-end: 0.25rem solid var(--color-main);
}

.p-card__thumbnail img {
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}

.c-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-start: 10px;
}

.c-card__excerpt {
  margin-block-start: 10px;
}

.c-card__labels {
  margin-block-start: 10px;
}

.c-label {
  font-weight: 700;
  border-radius: calc(infinity * 1px);
  padding-inline: 1em;
  padding-block: 0.125lh;
  display: inline-block;
  background: var(--color-main);
  color: var(--color-white);
}

.-accent {
  background: var(--color-accent);
}

.p-header {
  background: var(--color-main);
  padding-block: 1rem;
}

.p-header__logo {
  font-size: 2rem;
}

.p-footer {
  background: var(--color-main);
  color: var(--color-white);
  padding-block: 0.5rem;
}

.p-footer__copy {
  text-align: center;
}

.p-posts {
  padding-block: 60px;
}

.p-posts__heading {
  font-size: 1.8rem;
}

.p-posts__content {
  background: var(--color-white);
  margin-block-start: 40px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .p-posts__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

.p-posts__card {
  flex: 1 1 calc(50% - 10px);
}