body {
  font-family: "Zen Kaku Gothic New", serif;
}

.about {
  margin-block-start: 50px;
  padding-inline: 40px;
  margin-inline: auto;
}

.about__wrapper {
  max-inline-size: 1400px;
  margin-inline: auto;
}

.about__body {
  display: grid;
  grid-template-columns: 350px auto;
  gap: 20px;
  align-items: center;
}

.about__heading {
  font-family: "Montserrat", serif;
  color: rgb(24, 180, 215);
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.08em;
}

.about__text-area {
  width: 350px;
}

.about__heading-sub {
  color: rgb(24, 180, 215);
  font-size: 20px;
}

.about__heading-sub2 {
  margin-block-start: 40px;
  font-size: 24px;
}

.about__text {
  display: inline-block;
  margin-block-start: 24px;
}

.about__text2 {
  margin-block-start: 8px;
}

.about__button {
  margin-block-start: 40px;
  width: 300px;
  display: inline-block;
  color: #18b4d7;
  border: 2px solid #18b4d7;
  border-radius: 32px;
  padding: 18px 38px 18px 58px;
}

.button-arrow {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: #18b4d7;
}
.button-arrow:after {
  content: "";
  display: block;
  inline-size: 8px;
  block-size: 8px;
  border-right: 2px solid #18b4d7;
  border-top: 2px solid #18b4d7;
  transform: rotate(45deg);
  position: absolute;
  right: 100px;
}

.about__image {
  width: 100%;
  height: 360px;
  position: relative;
  right: 0px;
}
.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__background-image {
  position: relative;
  right: 0px;
  background-image: url(https://storage.googleapis.com/studio-design-asset-files/projects/JpOLZnYNaQ/s-1440x720_v-fms_webp_9a361703-63b6-4d8f-84c6-350919018384.webp);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about__background-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

:root {
  --viewport-inner: 1000;
  --horizontal-spacing-min: 20;
  --horizontal-spacing-max: 40;
}

.l-section__inner {
  box-sizing: initial;
  max-inline-size: calc(var(--viewport-inner) * 1px);
  padding-inline: calc(var(--horizontal-spacing-min) * 1px);
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .l-section__inner {
    padding-inline: calc(var(--horizontal-spacing-max) * 1px);
  }
}

.p-about {
  padding-block: 80px;
}

.c-about-media {
  position: relative;
  padding-block: 80px;
}

.c-about-media__text-area {
  inline-size: 350px;
}

.c-about-media__image {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  block-size: 360px;
  inline-size: calc(50dvi - 40px);
  background-image: url(https://storage.googleapis.com/studio-design-asset-files/projects/JpOLZnYNaQ/s-1440x720_v-fms_webp_9a361703-63b6-4d8f-84c6-350919018384.webp);
  background-size: cover;
  background-position: right;
  border-radius: 30px;
}