@use "sass:map";

$breakpoints: (
    tb: "(min-width: 768px)",
    pc: "(min-width: 1024px)"
);

@mixin mq($breakpoint: tb) {
    @media screen and #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

html:has(dialog[open]) {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    color: #000;
    font-family: "Noto Sans JP", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

.button {
    padding: 7px 25px;
    border-radius: 25px;
    inline-size: clamp(272px, 60.4%, 600px);
    margin-inline: auto;
    margin-block-start: 20px;
    background: #000080;
    color: #fff;
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
        font-size: clamp(12px, 2vw, 20px);
    }
}

.icon-arrow {
  display: inline-block;
  background: url("../img/arrow.svg") no-repeat center center / contain;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  vertical-align: middle;
}

.heading {
    color: #000;
    font-size: clamp(18px, 4vw, 36px);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-block: 10px;
    padding-inline: 10px;

    @include mq(tb) {
        padding-inline: 0;
    }
}

.hidden-pc {
    display: inline-block !important;

    @include mq(pc) {
        display: none !important;
    }
}

.hidden-tb {
    display: inline-block !important;

    @include mq(tb) {
        display: none !important;
    }
}

.hidden-sp {
    display: none !important;

    @include mq(tb) {
        display: inline-block !important;
    }
}

.header {
    position: fixed;
    z-index: 1001;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: auto;
    background: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding-block: 10px;
    padding-inline: 20px;
}

.header__logo {
    display: inline-block;
    padding-block: 10px;
}

.header__nav {
    display: block;
    padding-block: 32px;
}

.header__list {
    display: flex;
    gap: 40px;

    a {
        font-size: clamp(16px, 3vw, 24px);
    }
}

.drawer-icon {
    position: fixed;
    z-index: 1002;
    inset-block-start: 25px;
    inset-inline-end: 20px;
    inline-size: 50px;
    block-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drawer-icon__bar {
    position: absolute;
    inline-size: 100%;
    block-size: 5px;
    background: #D9D9D9;
    transition: all 0.3s ease;

    &:nth-of-type(1) {
        inset-block-start: 10px;
        inset-inline-start: 0;
    }

    &:nth-of-type(2) {
        inset-block-start: 30px;
    }

    &:nth-of-type(3) {
        inset-block-start: 50px;
    }
}

.drawer-icon.js-show {
    .drawer-icon__bar:nth-of-type(1) {
        rotate: 45deg;
        translate: 0 20px;
    }

    .drawer-icon__bar:nth-of-type(2) {
        display: none;
    }

    .drawer-icon__bar:nth-of-type(3) {
        rotate: -45deg;
        translate: 0 -20px;
    }
}

.drawer {
    position: fixed;
    inline-size: 100%;
    block-size: 100svh;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.drawer.js-show {
    visibility: visible;
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
}

.drawer__container {
    position: fixed;
    z-index: 100;
    inset-block-start: 0;
    inset-inline-end: 0;
    inline-size: 100%;
    padding-block-start: 120px;
    background: #fff;
    overflow-block: scroll;
    transform: translateY(-100%);
    transition: transform 0.8s ease;

    &.js-show {
        transform: translateY(0);
    }
}

.drawer__body {
    inline-size: 100%;
    text-align: center;
}

.drawer__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-block-end: 40px;

    li a {
        color: #000;
        font-size: 20px;
        font-weight: 400;
        line-height: normal;
    }
}

.drawer__btn {
    display: inline-block;
    padding: 6px 30px;
    background: #000;
    border-radius: 100vmax;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
}
  
.fv {
  margin-block-start: 120px;
  padding-block: 10px;
  position: relative;
}

.fv__inner {
  padding-inline: 20px;
  margin-inline: auto;
  padding-inline: 0;
  margin-inline: auto;
}

.fv__body {
  background: url(../img/fv_image-pc.webp) no-repeat center center / cover;
  block-size: 400px;
  inline-size: auto;
  object-fit: cover;

  @include mq(tb) {
      inline-size: 100%;
      block-size: auto;
      position: relative;
      aspect-ratio: 1440 / 560;
  }
}

.fv-image__text-area {
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  position: absolute;
  inset-inline-start: 20px;
  inset-block-start: 70px;
  inline-size: 40vw;
}

.fv-image__text-area-heading {
  font-size: 3.5vw;
}

.fv-image__text {
  font-size: 2vw;
  opacity: 0.8;
}

.about {
  background: #FFF;
}

.about__inner {
  inline-size: min(calc(380px + 10px * 2), 100%);
  margin-inline: auto;

  @include mq(tb) {
      inline-size: min(calc(1000px + 20px * 2), 100%);
      padding-inline: 20px;
  }
}

.about__heading {
  color: #000;
  font-size: clamp(18px, 4vw, 36px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-block: 10px;
}

.about__heading-text {

}

.about__image-area {
  @include mq(tb) {
      padding: 10px 0 20px 0;
      display: flex;
      justify-content: space-between;
  }
}

.about__image {
  padding-inline: 10px;

  @include mq(tb) {
      inline-size: calc(480px / 1000px * 100%);
  }

  img {
      block-size: 100%;
      object-fit: cover;
  }
}

.about__image-text-area {
  @include mq(tb) {
      display: flex;
      flex-direction: column;
      align-items: center;
      inline-size: calc(450px / 1000px * 100%);
  }
}

.about__image-text {
  padding-inline: 10px;
  color: #000;
  font-family: Inter;
  font-size: clamp(12px, 2vw, 20px);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.feature {

}

.feature__inner {
  margin-inline: auto;
  inline-size: min(calc(380px + 10px * 2), 100%);

  @include mq(tb) {
      inline-size: min(calc(1000px + 20px * 2), 100%);
      padding-inline: 20px;
  }
}

.feature__heading {

}

.feature__body {
  padding-inline: 10px;

  @include mq(tb) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
  }
}

.feature__image-area {

}

.feature__image-area__heading {
  font-size: clamp(16px, 3vw, 24px);
}

.feature__image-area__image {

}

.feature__image-area__text {
  font-size: clamp(12px, 2vw, 16px);
}

.examples {

}

.examples__inner {
  margin-inline: auto;
  padding-inline: 10px;
  inline-size: min(calc(380px + 10px * 2), 100%);

  @include mq(tb) {
      inline-size: min(calc(1000px + 20px * 2), 100%);
      padding-inline: 20px;
  }
}

.examples__heading {

}

.examples__body {
  @include mq(tb) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
  }
}

.examples__area {

}

.examples__image {

}

.examples__text-area {
  margin-block-start: 10px;
  display: flex;
}

.examples__text {
  font-size: clamp(12px, 2vw, 16px);
  inline-size: calc(300px / 480px * 100%);
}

.examples__text-image {
  inline-size: 25%;

  @include mq(tb) {
      inline-size: 100px;
  }

  margin-inline-start: auto;
}

.examples__text-image-text {
  font-size: clamp(12px, 2vw, 16px);
}

.examples__button {
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
}
  
.qa {

}

.qa__inner {
  width: min(calc(380px + 10px * 2), 100%);
  margin: 0 auto;
  padding-inline: 10px;

  @include mq(tb) {
    width: min(calc(1000px + 20px * 2), 100%);
    padding-inline: 20px;
  }
}

.qa__heading {

}

.qa__body {
  @include mq(tb) {
    display: flex;
    gap: 10px;
  }
}

.qa__image-area {
  @include mq(tb) {
    width: calc(460px / 1000px * 100%);
  }
}

.qa__image {

}

.qa__image-text {
  margin-block-start: 18px;
  font-size: clamp(12px, 2vw, 16px);
}

.qa__text-area {
  margin-block-start: 20px;
  @include mq(tb) {
    margin-block-start: 0;
    width: calc(530px / 1000px * 100%);
  }
  text-align: center;
}

.qa__text-area-main {
  font-size: clamp(16px, 3vw, 24px);
}

.qa__text-area-add {
  margin-block-start: clamp(20px, 5vw, 40px);
  font-size: clamp(16px, 2vw, 20px);
}

.qa__text-area-tel {
  margin-block-start: clamp(20px, 5vw, 40px);
  font-size: clamp(16px, 2vw, 20px);
}

.qa__button {
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: center;
  margin-block-start: clamp(20px, 5vw, 40px);
}

.footer {
  background: #fff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  margin-block-start: 20px;
  padding-block: 10px;
  padding-inline: 10px;

  @include mq(tb) {
    padding-inline: 20px;
  }
}

.footer__logo {

}

.footer__nav {
  padding-block: 32px;
}

.footer__list {
  align-items: center;
  display: flex;
  gap: 10px;

  @include mq(tb) {
    gap: 40px;
  }
  a {
    font-size: clamp(12px, 3vw, 24px);
  }
}
