@use "sass:map";
@use "../global" as global;

.p-cta{
    background-color: global.$text-color;
}

.p-cta__inner{
    padding-block: 40px;
    @include global.mq('pc') {
        padding-block: 60px;
    }
}

.p-cta__text{
    color: global.$text-color-sub;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28.8px;
    letter-spacing: 0.36px;
    @include global.mq('pc') {
        font-size: 36px;
        line-height: normal;
        letter-spacing: 0.72px;
    }
}

.p-cta__button{
    margin-block-start: 24px;
    display: flex;
    justify-content: center;
    @include global.mq('pc') {
        margin-block-start: 32px;
    }
}