@use "../global" as global;

.p-feature {
  padding-block-start: 80px;
  @include global.mq("pc") {
    padding-block-start: 92px;
  }
}

.p-feature__inner {
  padding-inline: 20px;
  padding-block-end: 100px;
}

.p-feature__body {
  margin-block-start: 40px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  max-width: 500px;
  @include global.mq("pc") {
    max-width: calc(1440px - 20px - 20px);
  }
}
