@use "sass:map";
@use "../global" as global;

.p-flow {
    padding-top: 60px;
    padding-bottom: 60px;
    @include global.mq('pc') {
        padding-top: 100px;
        padding-bottom: 80px;
    }

    &__inner {
        padding-inline: 20px;
        @include global.mq('pc') {
            padding-inline: 40px;
        }
    }
    &__body {
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 84px;
        @media screen and (min-width: 1080px) {
            position: relative;
            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 24px;
                height: 60px;
                background: url(../img/flow-arrow.png) no-repeat center center / contain;
                left: 50%;
                top: 70px;
            }
            &::before{
                transform: translateX(-200px);
            }
            &::after {
                transform: translateX(185px);
            }
        }
        @include global.mq('pc') {
            margin-top: 55px;
            margin-inline: auto;
            max-width: 1070px;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;
            gap: 0;
        }
    }
    &__card {
        position: relative;
       max-width: 400px;
       @include global.mq('pc') {
        width: 280px;
        flex-shrink: 0;
       }
    }
    &__num{
        position: absolute;
        left: 0;
        top: -30px;
        font-size: 48px;
        font-weight: 700;
        font-family: global.$ff-en;
        color: global.$accent-color;
    }
    &__img {
        background-color: #EDECFC;
        border-radius: 30px;
        height: 191px;
        display: grid;
        place-content: center;
        img{
            width: 199px;
        }
    }
    &__content {
        margin-top: 16px;
    }
    &__title {
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        @include global.mq('pc') {
            font-size: 24px;
        }
    }
    &__text {
        margin-top: 8px;
        line-height: 28.8px;
    }
}