@use "../global" as global;

.p-feature {
  padding-block: 100px;
  background-color: #f9f9f9;
}

.p-feature__inner {
  max-inline-size: calc(1188px + 120px + 132px);
  margin-inline: auto;
  padding-inline: 120px 132px;
}

.p-feature__body {
  margin-block-start: 256px;
}
