@use "sass:map";
@use "../global" as global;

.p-price {
  margin-top: 60px;
  padding-bottom: 60px;
  @include global.mq("pc") {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  &__inner {
    padding-left: 20px;
    @include global.mq('pc') {
      padding: 0;
    }
  }
  &__body {
    margin-top: 40px;
    overflow-x: auto;
    @include global.mq("pc") {
      margin-top: 68px;
    }
  }
  &__table {
    margin-inline: auto;
    table-layout: auto;
    border-collapse: collapse;
    width: 691px;
    @include global.mq("pc") {
      width: 1020px;
    }

    thead {
      tr {
        height: 232px;
        @include global.mq("pc") {
          height: 286px;
        }
      }
      th {
        padding-top: 40px;
        width: 180px;
        color: global.$text-color-sub;
        text-align: center;
        @include global.mq("pc") {
          padding-top: 50px;
          width: 260px;
        }
        &:first-child {
          width: 151px;
          @include global.mq("pc") {
            width: 241px;
          }
        }
      }
    }
    tbody {
      tr {
        height: 42px;
        @include global.mq('pc') {
            height: 60px;
        }
        &:nth-child(odd) {
          background-color: #edecfc;
        }
        &:last-child {
          height: 60px;
          @include global.mq("pc") {
            height: 81px;
          }
        }
      }
      th {
        text-align: left;
        vertical-align: middle;
        padding-left: 18px;
        font-size: 15px;
        @include global.mq('pc') {
            font-size: 20px;
        }
      }
      td {
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        @include global.mq('pc') {
            font-size: 18px;
        }
      }
    }
  }

  &__plan {
    &--light {
      background-color: global.$text-color;
      border-top: 32px solid #fff;
    }
    &--basic {
      background-color: global.$accent-color;
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.6);
      @include global.mq("pc") {
        .p-price{
            &__name {
                font-size: 28px;
            }
            &__price {
                font-size: 26px;
            }
            &__amount {
                font-size: 42px;
            }
        }
      }
    }
    &--premium {
      background-color: global.$text-color;
      border-top: 32px solid #fff;
    }
  }
  &__name {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    @include global.mq("pc") {
      font-size: 24px;
    }
  }
  &__price {
    margin-bottom: 32px;
    font-size: 14px;
    font-weight: 700;
    @include global.mq("pc") {
      margin-top: 17px;
      font-size: 20px;
    }
  }
  &__amount {
    font-size: 30px;
    font-weight: 700;
    padding-inline: 4px;
    @include global.mq("pc") {
      font-size: 34px;
    }
  }
  &__img{
    &--big{
        width: 20px;
        height: 20px;
        @include global.mq('pc') {
            width: 24px;
            height: 24px;
        }
    }
    &--small{
        width: 14px;
        height: 14px;
        @include global.mq('pc') {
            width: 20px;
            height: 20px;
        }
    }
  }

  &__highlight{
    font-weight: 700;
    font-size: 20px;
    @include global.mq('pc') {
        font-size: 24px;
    }
  }

  &__button {
    display:inline-block;
    padding: 10px 17px;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid global.$text-color;
    color: global.$text-color;
    font-weight: 700;
    transition: all 0.4s;
    @include global.mq("pc") {
      padding: 12px 40px;
      font-size: 18px;
      &:hover{
        background-color: global.$text-color;
        color: global.$text-color-sub;
        border: 2px solid global.$text-color-sub;
      }
    }
    &--basic {
      background-color: global.$accent-color;
      border: 2px solid global.$text-color-sub;
      color: global.$text-color-sub;
      @include global.mq('pc') {
        &:hover{
          background-color: global.$text-color-sub;
          color: global.$accent-color;
          border: 2px solid global.$accent-color;
        }

      }
    }
  }
}
