@use "sass:map";
@use "../global" as global;

.p-qa {
  margin-top: 60px;
  padding-bottom: 72px;
  @include global.mq("pc") {
    margin-top: 100px;
    padding-bottom: 100px;
  }
  &__inner {
    padding-inline: 20px;
    @include global.mq("pc") {
      padding-inline: 40px;
    }
  }
  &__body {
    margin-top: 40px;
    margin-inline: auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    @include global.mq("pc") {
      margin-top: 60px;
      max-width: 920px;
    }
  }
  &__head {
    width: 100%;
    padding: 10px 10px 8px 15px;
    display: flex;
    gap: 15px;
    background-color: global.$accent-color;
    border-radius: 5px;
    @include global.mq('pc') {
        padding: 20px 24px;
        border-radius: 10px;
    }
    &-icon {
        color: global.$text-color-sub;
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
    }
    &-text {
        text-align: left;
        color: global.$text-color-sub;
        font-weight: 600;
        line-height: 25.6px;
        @include global.mq('pc') {
            font-size: 18px;
            line-height: 1;
        }
    }
  }
  &__anser{
    display: none;
  }
  &__content {
    padding: 28px 10px 8px 15px;
    display: flex;
    gap: 15px;

    @include global.mq('pc') {
        padding: 35px 25px 22px;
    }
    &-icon {
        font-size: 22px;
        font-weight: 700;
        line-height: 20px;
    }
    &-text {
        line-height: 25.6px;
        @include global.mq('pc') {
            font-size: 18px;
            line-height: 32.4px;
        }
    }
  }
}
