:root {
  // 基本色
  --color-white: #fff;
  --color-black: #000;

  // メインカラー
  --color-main: #252f66;

  // 差し色
  --color-accent: #6ccee7;

  // 文字
  --color-text: #333;

  // 地色
  --color-ground: #ebe8ef;
}
