*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td {
	border: 0;
	font-size: 100%;
	font-weight: normal;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

ol,
ul {
	list-style: none;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
	font: inherit;
	margin: 0;
	padding: 0;
}

input,
select,
textarea {
	color: inherit;
	font: inherit;
	vertical-align: top;
}

body {
	background-color: #fff;
	color: #2D2D32;
	font-family: "Noto Sans JP", serif;
	font-size: 16px;
	font-weight: 400;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.c-button {
	background-color: #fff;
	border: 2px solid #64629D;
	border-radius: 100px;
	box-shadow: 0px 3px 0px #4c4a7a;
	color: #64629D;
	font-size: 18px;
	font-weight: 700;
	padding-block: 15px;
	padding-inline: 50px;
	text-align: center;
	transition: transform 0.3s, box-shadow 0.3s;
}

.c-button--accent-color {
	background-color: #64629D;
	color: #fff;
}

.c-heading {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 8.5px;
	text-align: center;
}

.c-heading__en {
	color: #9F9EC1;
	font-family: "Jost", serif;
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 0.9px;
}

.c-heading__ja {
	color: #64629D;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 1.5px;
	line-height: 42px;
}

.c-feature-media {
	left: 50%;
	max-width: 500px;
	position: relative;
	transform: translateX(-51%);
}

.c-feature-media__img {
	block-size: auto;
	inline-size: 280px;
	margin-inline: auto;
}

.c-feature-media--layout-reverse .c-feature-media__img {
	inset-inline-end: auto;
	inset-inline-start: 0;
}

.c-feature-media--layout-reverse .c-feature-media__content {
	inset-inline-end: 0;
	inset-inline-start: auto;
}

.c-feature-media__content {
	background-color: #fff;
	border-radius: 16px;
	margin-block-start: -82px;
	padding-block: 40px;
	padding-inline: 20px;
}

.c-feature-media__num {
	color: #64629D;
	font-family: "Jost", serif;
	font-size: 42px;
	font-weight: 700;
}

.c-feature-media__heading {
	font-size: 22px;
	font-weight: 700;
	margin-inline-end: -20px;
}

.c-feature-media__text {
	font-size: 14px;
	line-height: 22.4px;
	margin-block-start: 8px;
}

.p-feature {
	background-color: #F9F9F9;
	padding-block-end: 100px;
	padding-block-start: 80px;
}

.p-feature__body {
	display: flex;
	flex-direction: column;
	gap: 60px;
	margin-inline: auto;
	padding-block-start: 40px;
}

.p-cta {
	background-color: #2D2D32;
}

.p-cta__inner {
	padding-block: 40px;
}

.p-cta__text {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.36px;
	line-height: 28.8px;
	text-align: center;
}

.p-cta__button {
	display: flex;
	justify-content: center;
	margin-block-start: 24px;
}

.u-bold {
	font-weight: 700;
}

.is-fixed {
	overflow-y: hidden;
}

@media screen and (min-width: 764px) and (max-width: 1024px) {

.u-hidden-tab {
	display: none;
}

}

@media screen and (min-width: 1025px) {

.c-button {
	padding-inline: 26px;
}

.c-button:hover {
	box-shadow: 0px 0px 0px #4c4a7a;
	transform: translateY(3px);
}

.c-button--large {
	font-size: 24px;
	padding-block: 14px;
	padding-inline: 55px;
}

.c-heading {
	gap: 17px;
}

.c-heading__en {
	font-size: 36px;
	font-weight: 700;
}

.c-heading__ja {
	font-size: 48px;
	letter-spacing: 2.4px;
}

.c-feature-media {
	max-width: 1175px;
	z-index: 1;
}

.c-feature-media--adjust-margin {
	margin-block-start: 110px;
}

.c-feature-media--align-left {
	margin-inline: auto 0;
}

.c-feature-media__img {
	inline-size: clamp(280px, 42vw, 580px);
	inset-block-start: 0;
	inset-inline-end: 0;
	position: absolute;
	z-index: 5;
}

.c-feature-media__img--adjust-top {
	inset-block-start: 178px;
}

.c-feature-media__content {
	border-radius: 30px;
	display: flex;
	gap: 18px;
	inset-block-start: 153px;
	inset-inline-start: 0;
	margin-block-start: 0;
	padding-block: 65px;
	padding-inline: 40px 124px;
	position: absolute;
}

.c-feature-media__num {
	font-size: 72px;
}

.c-feature-media__heading {
	font-size: 36px;
	font-weight: 700;
	margin-inline-end: -124px;
}

.c-feature-media__text {
	font-size: 16px;
	line-height: 28.8px;
	margin-block-start: 17px;
	max-width: 470px;
}

.p-feature {
	overflow: hidden;
	padding-block-start: 92px;
}

.p-feature__inner {
	padding-inline: 20px;
}

.p-feature__body {
	block-size: 1774px;
	gap: 520px;
	padding-block-start: 102px;
}

.p-cta__inner {
	padding-block: 60px;
}

.p-cta__text {
	font-size: 36px;
	letter-spacing: 0.72px;
	line-height: normal;
}

.p-cta__button {
	margin-block-start: 32px;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1025px) and (max-width: 1150px) {

.c-feature-media__img--responsive-up {
	transform: translateY(-100px);
}

.c-feature-media__img-responsive-down {
	transform: translateY(110px);
}

}

@media screen and (max-width: 768px) {

.u-hidden-sp {
	display: none;
}

}

@media screen and (max-width: 374px) {

.u-hidden-xs {
	display: none;
}

}

