.c-card {
}

.p-card__thumbnail {
  img {
  }
}

.c-card__title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-block-start: 10px;
}

.c-card__excerpt {
  margin-block-start: 10px;
}

.c-card__labels {
  margin-block-start: 10px;
}
