.c-label {
  font-weight: 700;
  border-radius: calc(1px / 0);
  padding-inline: 1em;
  padding-block: 0.125lh;
  display: inline-block;
  background: var(--color-main);
  color: var(--color-white);
}

.-accent {
  background: var(--color-accent);
}
