@use "sass:map";
@use "../global" as global;

.l-header {
    z-index: map.get(global.$layer, "header");
    position: fixed;
    background-color: #fff;
    width: 100%;
    @include global.mq('pc') {
        position: static;
    }
    &__inner{
        padding: 9px 21px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include global.mq('pc') {
            padding: 22px 120px;
        }
    }
    &__logo{
        width: 71px;
        height: 24px;
        @include global.mq('pc') {
            width: 83px;
            height: 28px;
        }
    }
    &__nav{
        display: none;
        @include global.mq('pc') {
            display: flex;
        }
    }
    &__open{
        margin-top: -4px;
        @include global.mq('pc') {
            margin-top: 0px;
            display: none;
        }
    }
}