@use "../global" as global;

.c-button{
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 3px 0px #4c4a7a;
  border-radius: 100px;
  @include global.mq("pc") {
    &:hover {
      transform: translateY(3px);
      box-shadow: 0px 0px 0px #4c4a7a;
    }
  }
}

.c-button--type1{
  background-color: global.$accent-color;
  color: global.$text-color-sub;
  font-size: 18px;
  font-weight: 700;
  padding-block: 15px;
  padding-inline: 50px;
  @include global.mq('pc') {
    padding-inline: 26px;
  }
}

.c-button--type2{
  background-color: global.$background-base;
  border: 2px solid global.$accent-color;
  color: global.$accent-color;
  font-size: 18px;
  font-weight: 700;
  padding-block: 15px;
  padding-inline: 50px;
  @include global.mq('pc') {
    padding-inline: 26px;
  }
}

.c-button--type3{
  background-color: global.$accent-color;
  color: global.$text-color-sub;
  font-size: 18px;
  font-weight: 700;
  padding-block: 15px;
  padding-inline: 50px;
  @include global.mq("pc") {
    font-size: 24px;
    padding-block: 20px;
  }
}