@use "sass:map";
@use "../global" as global;

.c-drawer {
  position: relative;
  align-self: flex-start;
  width: 21px;
  top: 4px;
  &.is-open {
    .c-drawer__label {
        opacity: 0;
        transform: translateY(-100%) translateX(-50%);
    }
    .c-drawer__icon-bar {
      &:nth-of-type(1) {
        top: 9px;
        transform: translateX(-50%) rotate(45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
        transform: translateX(50%);
      }
      &:nth-of-type(3) {
        top: 9px;
        transform: translateX(-50%) rotate(-45deg);
      }
    }
  }
  &__label {
    position: absolute;
    font-size: 6px;
    font-weight: 700;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s;
  }
  &__icon {
    margin-top: 13px;
    width: 21px;
    height: 21px;
    position: relative;
    &-bar {
      position: absolute;
      width: 21px;
      height: 3px;
      border-radius: 8px;
      left: 50%;
      transform: translateX(-50%);
      background-color: global.$accent-color;
      transition: all 0.3s;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 9px;
        width: 13.125px;
        transform: translateX(-25%);
      }
      &:nth-of-type(3) {
        top: 18px;
      }
    }
  }
}
