@use "../global" as global;

.c-feature-media {
  position: relative;
  @include global.mq('pc') {
    margin-inline: 0 auto;
  }
}

.c-feature-media--adjust-margin{
  @include global.mq('pc') {
    margin-block-start: 110px;
  }
}

.c-feature-media--align-left{
  @include global.mq('pc') {
    margin-inline:  auto 0;
  }
}

.c-feature-media__img {
  position: absolute;
  inline-size: 280px;
  block-size: auto;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  @include global.mq("pc") {
    inline-size: 520px;
    transform: translateX(52.5%);
  }
}

.c-feature-media__img--align-left{
  @include global.mq('pc') {
    inset-inline-start: 0;
    transform: translateX(-86%) translateY(35%);
  }
}

.c-feature-media__content {
  margin-block-start: 195px;
  padding-block: 40px;
  padding-inline: 20px;
  background-color: global.$background-base;
  border-radius: 16px;
  @include global.mq('pc') {
    margin-block-start: 153px;
    padding-block: 65px;
    padding-inline: 40px 124px;
    display: flex;
    gap: 18px;
    border-radius: 30px;
  }
}
.c-feature-media__num {
  color: global.$accent-color;
  font-size: 42px;
  font-weight: 700;
  font-family: global.$ff-en;
  @include global.mq("pc") {
    font-size: 72px;
  }
}
.c-feature-media__heading {
  font-size: 22px;
  font-weight: 700;
  @include global.mq("pc") {
    font-size: 36px;
    font-weight: 700;
  }
}

.c-feature-media__heading--adjust-margin{
  margin-inline-end: -20px;
  @include global.mq('pc') {
    margin-inline-end: -105px;
  }
}

.c-feature-media__text {
  margin-block-start: 8px;
  font-size: 14px;
  line-height: 22.4px;
  @include global.mq("pc") {
    margin-block-start: 17px;
    font-size: 16px;
    line-height: 28.8px;
    max-width: 470px;
  }
}
