@use "../global" as global;

.c-feature-media {
  position: relative;
}

.c-feature-media__img {
  position: absolute;
  max-inline-size: 520px;
  inset-block-start: 0;
  inset-inline-end: 0;

  .c-feature-media:nth-of-type(1) & {
    inset-block-start: -154px;
  }

  .c-feature-media:nth-of-type(2) & {
    inset-block-start: 25px;
  }

  .c-feature-media:nth-of-type(3) & {
    inset-block-start: -163px;
  }
}

.c-feature-media__content {
  background-color: global.$background-base;
  padding-block: 65px;
  padding-inline-start: 40px;
  border-radius: 30px;
  max-inline-size: 742px;
  display: flex;
  column-gap: 18px;

  .c-feature-media:nth-of-type(2) & {
    margin-block-start: 153px;
  }

  .c-feature-media:nth-of-type(3) & {
    margin-block-start: 263px;
  }
}

.c-feature-media__num {
  color: global.$accent-color;
  font-size: 72px;
  font-weight: 700;
  font-family: global.$ff-en;
}

.c-feature-media__box {
}

.c-feature-media__heading {
  font-size: 36px;
  font-weight: 700;
}

.c-feature-media__text {
  font-size: 16px;
  line-height: 28.8px;
  margin-block-start: 17px;
  max-inline-size: 470px;
}

.c-feature-media.c-feature-media--layout-reverse {
  .c-feature-media__img {
    inset-inline: 0 auto;
  }

  .c-feature-media__content {
    margin-inline-start: auto;
  }
}
