@use "../global" as global;

.c-feature-media {
}

.c-feature-media__img {
}

.c-feature-media__content {
}

.c-feature-media__num {
  color: global.$accent-color;
  font-size: 72px;
  font-weight: 700;
  font-family: global.$ff-en;
}

.c-feature-media__box {
}

.c-feature-media__heading {
  font-size: 36px;
  font-weight: 700;
}

.c-feature-media__text {
  font-size: 16px;
  line-height: 28.8px;
}
