@use "sass:map";
@use "../global" as global;

.c-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12.5px;
    text-align: center;
    @include global.mq('pc') {
        gap: 17px;
    }
}

.c-heading__en{
    font-size: 22px;
    font-weight: 700;
    font-family: global.$ff-en;
    color: #9F9EC1;
    letter-spacing: 0.9px;
    @include global.mq('pc') {
        font-size: 36px;
        font-weight: 700;
    }
}

.c-heading__ja{
    font-size: 30px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1.9px;
    color: global.$accent-color;
    @include global.mq('pc') {
        font-size: 48px;
        letter-spacing: 2.4px;
    }
}